@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.AppContainer {
  min-height: 95vh;
  min-width: 90vw;
  border-radius: 3rem;
  display: flex;
  border: 3px solid black;
  font-family: "Reddit Mono", monospace;
}
