// variables
$flexDisplay: flex;
$OnePxBorder: 1px solid black;
$twoPxBorder: 2px solid black;
$transBorder: 1px solid transparent;
$orgColor: orange;
$oneRem: 1rem;
$threeRem: 3rem;
$mainFont: Reddit Mono;
$hundredWidth: 100%;
$boxMargin: 40px 0 15px 0;
$center: center;
$thirtyPer: 30%;
$fontSizeNine: 0.9rem;
$transTime: 0.5s;
